.aside {
    max-width: 296px;
    height: 100vh;
    h1 {
        background-image: url(../images/logo-ANSWER.svg);
        background-repeat: no-repeat;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        display: block;
    }
}
